<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Ecommerce</title>
<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
<link rel='stylesheet' th:href="@{/css/style.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="/images/fav.png"/>
</head>
<body>
	<div id="app">
		<!-- layout documentation https://www.thymeleaf.org/doc/articles/layouts.html -->
		<div th:replace="fragments/header :: header"></div>
		<div class="container-fluid">
			<div layout:fragment="content" style="margin-top:12px"></div>
		</div>
		<div class="modal fade" id="modalGeral" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal">
							<span>&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/webjarsjs"></script>
	<script type='text/javascript' src='/webjars/jquery/jquery.min.js'></script>
	<script type='text/javascript' src='/webjars/bootstrap/js/bootstrap.min.js'></script>
	<script data-main="/js/messagebroker" src="/webjars/requirejs/require.min.js"></script>
	<th:block layout:fragment="scriptblock"></th:block>
</body>
</html>