<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ecommerce/layout}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
    <div layout:fragment="content">
    	<div class="row">
    		<div class="col-lg-12">
    			<div class="jumbotron">
    				<h1>Pronto!!! tudo finalizado agora e so aguardar a confirmação da sua compra</h1>
    				<p>
    					Obs!!!!
    					Você será notificado por uma visita ao site, visitar o site nas proximas 24h saber se o pedido
    					foi aprovado ou não.
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>