<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ecommerce/layout}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
</head>
<body>
    <div layout:fragment="content">
    	<div class="row">
    		<div class="col-md-6 offset-md-3 login-form-1">
    			<h1>Formulário de login</h1>
    			<form th:action="@{/conta/login}" method="POST" th:object="${user}">
    				<div class="form-row">
    					<div class="form-group col-md-12">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">
	    								<i class="fas fa-envelope"></i>
	    							</span>
								</div>
								<input type="text" class="form-control" th:field="*{email}" placeholder="email"/>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="input-group">
								<div class="input-group-prepend">
	    							<span class="input-group-text" id="basic-addon1">
	    								<i class="fas fa-key"></i>
	    							</span>
	  							</div>
								<input type="password" class="form-control" placeholder="senha"
									   th:field="*{password}" data-placement="top" data-toggle="tooltip"
								       data-title="Sua senha deve ser composta de 8 caracteres alphanumericos entre 
								       maiusculo e minusculo e caracteres especiais"
								 />
							</div>
						</div>
    				</div>
    				<button class="btn btn-primary">
    					Entrar
    					<i class="fas fa-sign-in-alt"></i>
    				</button>
    			</form>
    			<div>
    				<p>Não tem conta ? <a href="/conta/registrar">Registrar <i class="fas fa-user"></i></a></p>
    			</div>
    			<div align="center" th:if="${resultado != null && resultado.msg != null}">
					<p style="font-size: 20; color: #FF1C19;" th:utext="${resultado.msg}"></p>
				</div>
    		</div>
    	</div>
    </div>
</body>
</html>