<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ecommerce/layout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-2">
				<nav>
					<ul class="nav nav-pill">
						<li class="nav-item"><a class="nav-link active"
							href="/admin/produtos/consultar">Formulario de consulta</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/admin/produtos/cadastro">Novo Produto</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="/admin/estoque/controle">Estoque</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-10">
			<h1>Inativar Produto</h1>
				<div class="alert alert-warning" th:if="${resultado != null && resultado.msg != null}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
  					</button>
					<span th:utext="${resultado.msg}"></span>
				</div>
				<form th:action="@{/admin/produtos/ativar}"
					th:object="${produto}" method="post">
					<div class="form-row">
						<div class="col-md-6 mb-3 form-group">
							<label for="descricao">Produto</label> <input
								type="text" class="form-control" id="descricao"
								  th:field="*{descricao}" readonly="readonly"/>
						</div>
						<div class="col-md-6 mb-3">
							<label for="categoria">Categoria Ativação</label>
							<select th:field="*{categoriaInativacao}" class="form-control">
								<option value="">Selecionar Categoria</option>
								<option th:each="state: ${T(com.les.ecommerce.model.produto.CategoriaInativacao).values()}"
										th:value="${state}"
										th:text="${state}"></option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="col-md-12 form-group">
							<label>Justificativa</label>
							<textarea class="form-control" th:field="*{justificativaInativacao}"></textarea>
						</div>
					</div>
					<button class="btn btn-primary" type="submit">
						Ativar
					</button>
					<input type="hidden" th:field="*{id}" />
				</form>	
			</div>
		</div>
	</div>
</body>
</html>