<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ecommerce/layout}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
    	<div class="container">
    		<div class="row">
    			
    		</div>
    	</div>
    </div>
    <th:block layout:fragment="scriptblock">
    	<script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>
    </th:block>
</body>
</html>