<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ecommerce/layout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-warning" th:if="${resultado != null && resultado.msg != null}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    					<span aria-hidden="true">&times;</span>
	  					</button>
						<span th:utext="${resultado.msg}"></span>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="row">
							<div th:each="produto: ${produtos}" class="col-sm-4" style="padding:6px">
							<form th:action="@{/carrinho/add}" method="post" th:object="${item}">
							<div class="card syscard">
								<img src="/images/info-image.jpg" class="card-img-top">
								<div class="card-body">
									<h5 class="card-title" th:text="${produto.descricao}"></h5>
									<p class="card-text" th:text=${produto.departamento.nome}>Descrição do produto</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										<b>Estoque:</b> 
										<b class="estoque" th:text="${#numbers.formatDecimal(produto.estoque,0,0)} + ' UN'"></b>
									</li>
									<li class="list-group-item">
										<b>Valor:</b> 
										<b class="price" 
											th:text="'R$' + ${#numbers.formatDecimal(produto.valorVenda, 0, 'POINT', 2, 'COMMA')}">
										</b>
										</li>
									<li class="list-group-item">
										<input type="hidden" name="produto.id" th:value="${produto.id}"/>
										<input type="number" placeholder="quantidade" class="form-control" th:field="*{quantidade}" />
									</li>
								</ul>
								<div class="card-body">
									<button class="btn btn-primary">
										Adicionar&nbsp;
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</div>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block layout:fragment="scriptblock">
		<script data-main="/js/app" src="/webjars/requirejs/require.min.js"></script>
	</th:block>
</body>
</html>